/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* Carre jaune page accueil */
.accueilmobile
{
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
  margin-top: 20%;
}

/* Titre TRAJECTOIRE de la page d'accueil */
.accueilmobile h1
{
margin-top: 1em;
text-align: center;
font-family: 'Lobster Two', cursive;
font-size: 4em;
}

.titre
{
  height: 260px;
  width: 100%;
  background-image: url(../img/losange.png);
  background-repeat: no-repeat;
  background-position: center;
}

/* Paragraphe du titre */
.accueilmobile span
{
  font-weight: normal;
  color: black;
  font-size: .4em;
  font-family: 'Josefin Sans', sans-serif;

}

/* Gestion du losange */
.accueilmobile img
{
  width: 90%;
  height: 90%;
  margin: auto;
}

/* Bouton "VISITER" */
.accueilmobile a
{
  color: black;
  text-decoration: none;
  border: 1px solid black;
  border-radius: 10%;
  text-align: center;
  margin: auto;
  width: 40%;
  padding: 15px;
  margin-top: 2em;
  font-family: 'Josefin Sans', sans-serif;

}
/* ************ FIN DE LA HOME PAGE ********** */

@media (min-width: 768px) {
  .home
  {
    margin-left: -20%;
    background-size : 120vw;
    background-image: url(../img/ford.jpg);
    background-repeat: no-repeat;
  }

  .accueilmobile
  {

    margin-top: 4%;
    margin-left: 20%;
  }

.titre h1
{
  font-size: 5em;
  font-family: 'Lobster Two', cursive;
}

.titre
{
  background-size: 37%;
  padding-top: 2em;
  padding-bottom: 5em;
  opacity: .80;
  line-height: 4em;

}
.accueilmobile a
{
  width: 10%;
  margin-top: 2em;
  color: black;
  background-color: white;
  opacity: .7;
  border: 1px solid white;
  text-decoration: underline;
}



}


  /*MATHIEU*/
    /*COMMON RULES */
    * {
        margin: 0;
        padding: 0;
    }

   /*HEADER TABLETTE/DESKTOP*/
   /*HEADER MOBILE*/




  .menu li a {
    color: white;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
  }

  .menu a:hover {
    color: #FFFF1A;
  }
  /*HEADER MOBILE*/

    #menu-accordeon {
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    width: 100%;
}

#menu-accordeon ul {
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}

#menu-accordeon li {
    background-color: black;
    border-radius: 6px;
    margin-bottom: 2px;
    box-shadow: 3px 3px 3px #999;
    border: solid 1px #333A40
}

#menu-accordeon li li {
    max-height: 0;
    overflow: hidden;
    transition: all .5s;
    border-radius: 0;
    background: black;
    box-shadow: none;
    border: none;
    margin: 0
}

#menu-accordeon a {
    display: block;
    text-decoration: none;
    color: #fff;
    padding: 8px 0;
    font-family: verdana;
    font-size: 1.2em
}

#menu-accordeon ul li a, #menu-accordeon li:hover li a {
    font-size: 1em
}

#menu-accordeon li:hover {
    background: #729EBF
}

#menu-accordeon li li:hover {
    background: #999;
}

#menu-accordeon ul li:last-child {
    border-radius: 0 0 6px 6px;
    border: none;
}

#menu-accordeon li:hover li {
    max-height: 15em;
}



  /*FOOTER */


.foot {
  background-color: #BBC7C7;
  display: flex;
  font-family: 'Lobster Two', cursive;
  font-size: 1.5em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  width: 100%;
  height: 40px;
  padding-top: 10px;
}

.foot2 {
    display: flex;
    justify-content: center;
    background-color: #BBC7C7;
    padding-top: 10px;
    padding-bottom: 10px;

}

.foot2 a {
    width: 2%;
    margin-left: 10px;
    color: white
}

/*VERSION MOBILE PAGES EQUIPE*/

figure {
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.presentation1 {
  margin-top: 100px;
  margin-bottom: 100px;
}

.presentation1 img, .presentation2 img {

  border: 7px solid black;
  border: 5px solid black;
  height: 150px;
  width: 150px;
}

.presentation1 {
  border-right: 2px solid black;
  padding-right: 100px;
  margin-right: 100px;
}

.equipep1 {
  margin-top: 50px;
  margin-bottom: 50px;
}

.menu2 {
  padding-bottom: 100Px;
}


.presentation1 {
  text-align: right;
}

.nomobile {
    display: none;
}

.yesmobile {

    display: block;
}

.menu {
   background-color: #6ac8b2;
   display: flex;
   height: 70px;
   justify-content: center;
   align-items: center;
   justify-content: space-around;
   list-style-type: none;
   width: 100%;
   position: fixed;
   top: 0;
   font-size: 25px;
   color: white;
   margin: 0;
   padding: 0;
   margin-top: 0;

}

h2 {
  font-family: 'Lobster Two', cursive;
  font-size: 2em;
}
@media (min-width:768px) {

  .equipe {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-around;

  }


  .maincontainerequipe h1 {
    margin-left: 1em;
    font-family: 'Lobster Two', cursive;
    font-size: 3em;
    color: #FFFF1A;
    text-shadow: -2px 2px 5px #4d4d00;
    margin-top: 100px;
  }



  .menu a {
    text-decoration: none;
  }

  .yestablette {
    display: block;
  }

  .notablette {
    display: none;
  }
}



=======
=======
}
>>>>>>> master
/* -------------- PAGE ASSOCIATION ------------- */
/* Mise en page de l'entete titre + texte  de presentation*/
.association, .tete
{
  width: 90%;
  margin: auto;
}
.tete h1
{
  margin-top: 0;
  font-family: 'Lobster Two', cursive;
  color: #FFFF1A;
  font-size: 2.5em;
  text-shadow: -2px 2px 5px #4d4d00;
}

.tete h2 {
  font-family: 'Josefin Sans', sans-serif;
}

.style {
  padding-top: 100Px;
}
.tete
{
  padding-top: 5em;
}

/* Traits pour la page association version mobile */
.association hr
{
  width: 50%;
  margin: auto;
  border-top: 1.4px solid black;
  margin-top: 3em;
  margin-bottom: 3em;
}

.association h3, .association h1
{
  color: #88ff4d;
  font-family: 'Lobster Two', cursive;

}
.association h3
{
  font-size: 2em;
  margin-bottom: 1em;
}
.association p, .association ul, .tete
{
  color: black;

    font-family: 'Josefin Sans', sans-serif;

}

.association ul
{
  list-style-type: none;
}


@media (min-width: 768px) {

/* Mise en place des article */
  hr
  {
    display: none;
  }
.tete
{
  width: 90%;
  margin: auto;
}

.asso1, .asso2
{
  display: flex;
  margin-top: 10%;
}

.asso
{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 3em;
}

/* Prmiere ligne des etapes */

.vente
{
  text-align: center;
  width: 50%;
  margin-left: 12%;
}
.beneficiaires
{
  border-right: 2px solid black;
  padding-right: 5%;
  text-align: right;
  margin-left: 8%;
  width: 20%;
}


/* Deuxieme ligne des etapes */
.asso1
{
  justify-content: space-around;
  align-items: center;
}
.entretien, .location
{
  border-right: 2px solid black;
  padding-right: 2%;
  margin-right: 10%;
  width: 30%;
  text-align: right;
}

.asso2
{
  justify-content: center;
}

/* Dernier article */
.self
{
  border-left: 2px solid black;
  border-right: 2px solid black;
  padding: 3%;
  margin-bottom: 4em;
  width: 35%;
  text-align: justify;
}
}

p {
  font-family: 'Josefin Sans', sans-serif;
}
/* ______________________DEBUT GLENN______________________ */

/* ===== DEBUT de la page lieux.html ===== */

/* articles impaires de la page lieux.html */
.lieux_article1 {
/* couleur de fond et de police */
background-color: #FFFFFF;
color: #000000;
margin-top: 20px;
padding-bottom: 20px;
}

/* Articles paires de la page lieux.html */
.lieux_article2 {
/* couleur de fond et de police */
background-color: #FFFFFF;
color: #000000;
margin-top: 20px;
padding-bottom: 20px;
}

/* couleur des titres */
.lieux_article1 h2 {
  color: #88ff4d;
}
.lieux_article2 h2{
  color: #6ac8b2;
}

/* bordure des images */
.lieux_article1 img {
  border: 5px #88ff4d solid;
}
.lieux_article2 img {
  border: 5px #6ac8b2 solid;
}


/* texte d'article placÈ */
.lieux_article_details {
  display: flex;
  margin-top: 30px;
  margin-left: 10vw;
  margin-right: 10vw;
}

.lieux_article_details p {
  margin-left: 3vw;
  font-size: 1.2em;
}

/* images de la page lieux.html */
.lieux img {
  /* redimension de l'image */
  width: 38vw;
  height: 38vh;
  border-radius: 1em;
}

/* titre d'article */
.lieux h2 {
  margin-left: 6vw;
}
/* ===== FIN de la page lieux.html ===== */
.partenaires h1, .lieux h1{
  padding-top: 1em;
  margin-left: 1em;
  font-family: 'Lobster Two', cursive;
  font-size: 3em;
  color: #FFFF1A;
  text-shadow: -2px 2px 5px #4d4d00;
}

/* ===== DEBUT  de la page partenaires.html ===== */
/* articles impaires de la page partenaires.html */
.partenaires_article1 {
  /* couleur de fond et de police */
  background-color: #FFFFFF;
  color: #000000;
  margin-top: 20px;
  padding-bottom: 20px;
}

/* Articles paires de la page partenaires.html */
.partenaires_article2 {
  /* couleur de fond et de police */
  background-color: #FFFFFF;
  color: #000000;
  margin-top: 20px;
  padding-bottom: 20px;
}

/* couleur des titres */
.partenaires_article1 h2 {
  color: #88ff4d;
}
.partenaires_article2 h2{
  color: #6ac8b2;
}

/* bordure des images */
.partenaires_article1 img {
  border: 5px #88ff4d solid;
}
.partenaires_article2 img {
  border: 5px #6ac8b2 solid;
}


/* texte d'article placÈ */
.partenaires_article_details {
  display: flex;
  margin-top: 30px;
  margin-left: 10vw;
  margin-right: 10vw;
}

.partenaires_article_details p {
  margin-left: 3vw;
  font-size: 1.2em;
}

/* images de la page partenaires.html */
.partenaires img {
  /* redimension de l'image */
  width: 20vw;
  height: 20vh;
  border-radius: 1em;
}

/* titre d'article */
.partenaires h2 {
  margin-left: 6vw;
}

/* ===== FIN de la page partenaires.html ===== */

/* ______________________FIN GLENN______________________ */


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
